

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    
        <title>
            {% block title %}

            {% endblock %}
        </title>




{% block content %}
  <section class="hero is-primary is-fullheight">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-5-tablet is-4-desktop is-3-widescreen">
            <!--Formulario-->
            <form action="/login" method="post" class="box">
              <div class="field">
                <label for="" class="label">Email</label>
                <div class="control has-icons-left">
                  <input type="email" name="email" placeholder="ejemplo@gmail.com" class="input" required>
                  <span class="icon is-small is-left">
                    <i class="fa fa-envelope"></i>
                  </span>
                </div>
                </div>
                <div class="field">
                  <label for="" class="label">Password</label>
                  <div class="control has-icons-left">
                    <input type="password" name="password" placeholder="*******" class="input" required>
                    <span class="icon is-small is-left">
                      <i class="fa fa-lock"></i>
                    </span>
                </div>
                </div>
                <div class="field">
                  <a href="/registrar">¿No tienes cuenta? click aqui para registrarte</a>
                </div>
                <div class="field">
                  <button class="button is-success">
                    login
                  </button>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
