{% extends "layout.html" %}


{% block content %}
<section class="hero is-primary is-fullheight header-image">
  <div class="hero-body">
        <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                    <thead>
                        <tr>
                            <th>Nombre Genero</th>
                            <th>Editar</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for genero in generos %}
                        <tr>
                            <td>{{genero.nombre_genero}}</td>
                            <td><a class="fa fa-pencil-alt"style="font-size:25px" href="/editargenero/{{genero.id_genero}}"></a></td>
                            <td><a class="fa fa-backspace" style="font-size:25px" href="/eliminargenero/{{genero.id_genero}}"></a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                </script>
            </form>

        </div>
    </div>
</section>
{% endblock %}