<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Menu De Navegacion </title>
        <link rel="stylesheet" href="/static/css/estilo.css">
       
	</head>
	<body background="/static/imagen/biblioteca-01.jpg">
    

    </body>
		<ul class="menu">
	        
            <li class="nav"><a href="autor">Autor</a></li>
            <li class="nav"><a href="editorial">Editorial</a></li>
            <li class="nav"><a href="genero">Genero</a></li> 
            <li class="nav"><a href="libro">libro</a></li>
           
            <li class="nav"><a href="/">logout</a></li>
		</ul>
	
</html>
